body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  transition: 4s ease;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.resize-logo {
  transition: 4s ease;
  margin-left: 4rem;
  margin-top: 4rem;
  width: 300px;
  transform: rotate3d(10, 10, 10, -2turn);
}
